@use "@styles/variables" as *;

.dashboard {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: #f8fafc;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #f8fafc;
}

.main {
  flex: 1;
  padding: 2rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}
