@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.header {
  margin-bottom: 2rem;

  h1 {
    font-size: 2rem;
    color: $brand-dark;
  }

  p {
    color: #555;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.list {
  margin: 0;
  padding-left: 1rem;
  list-style-type: disc;
  color: #444;
  font-size: 0.95rem;
}
