@use "sass:color";
@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/typography" as *;
@use "@styles/theme" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  background-color: $white;
  color: $text-color;
  line-height: 1.5;
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
}

a {
  text-decoration: none;
  color: $brand-primary;
}

button {
  font-family: inherit;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
