@use "sass:color";
@use "@styles/variables" as *;
@use "@styles/mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html[data-theme="dark"] {
  body {
    background-color: #0f172a;
    color: #f8fafc;
  }

  .card {
    background-color: #1e293b;
    color: #f1f5f9;
  }

  a {
    color: $brand-primary;
  }
}

body {
  font-family: $font-stack;
  background-color: $bg-color;
  color: $text-color;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $brand-primary;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
